<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if not user.is_authenticated %}
    <script type="text/javascript">
        alert("请登录！");
        window.location.href = "/first_welcome/index.html";
    </script>
{% endif %}
这里是welcome.html  !!!
你的username为{{ username }}
<form action="." method="post" id="login">{% csrf_token %}
    <input type="submit" value="进入subprocess_output">
</form>
py_test为{{ pytest }}
<div>
    <a href="{% url 'first_welcome:user_logout' %}">&nbsp;&nbsp;&nbsp;退出登录&nbsp;&nbsp;</a>
</div>
</body>
</html>